*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background: var(--bg);
    color: var(--text);
    transition: 0.3s;
}

:root {
    --bg: #ffffff;
    --text: #111;
    --box: #f2f2f2;
}

.dark {
    --bg: #111;
    --text: #fff;
    --box: #222;
}

.navbar {
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: var(--box);
    backdrop-filter: blur(10px);
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: var(--text);
    text-decoration: none;
    font-size: 18px;
}

.hero {
    height: 90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

button {
    padding: 10px 20px;
    background: var(--box);
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.features, .projects {
    padding: 60px;
    text-align: center;
}

.feature-box {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.feature {
    background: var(--box);
    padding: 20px;
    border-radius: 10px;
}

.card-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

.card {
    padding: 30px;
    background: var(--box);
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: 0.7s ease-out;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}

/* Modal */

.modal {
    display: none;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.6);
    justify-content:center;
    align-items:center;
}

.modal-content {
    background: var(--box);
    padding: 30px;
    width: 400px;
    border-radius: 12px;
}

#closeModal {
    float:right;
    font-size: 24px;
    cursor:pointer;
}
